{% extends "base.html" %}
{% block content %}
    <div class="container main">
        <div class="row">
            <div class="col-md-12">
                <form class="form-signup" method="POST", action="{{ url_for('signup') }}">
                    <h2>Please Sign Up</h2>
                    {{ form.csrf_token }}
                    {{ form.email(placeholder="Email", class="form-control", type="email") }}
                    {{ form.password(placeholder="Password", class="form-control", type="password") }}
                    <button class="btn btn-lg btn-primary btn-block", type="submit">Sign Up</button>
                </form>
            </div>
            <p>
                If you don't want to enter your email address you can use a fake one or use anything in that field. I'm not error checking on it, I just won't be able to help you later with forgotten passwords...
            </p>
        </div>
    </div>
{% endblock content %}